section.code-exercise {
    top: 0 !important;
    height: 95% !important; // TODO: Find a proper solution to keep the bottom taskbar accessible
    margin-bottom: 2rem;

    >div.code-exercise {
        height: 100% !important;
        display: grid !important;
        grid-template-columns: 1fr 1fr !important;
        grid-template-rows: auto 1fr 1fr !important;
        gap: 1rem !important;

        >h3 {
            font-size: initial;
            grid-column: span 2;
        }

        .monaco-editor-container {
            transform: scale(1) !important;

            &:not(:has(+ iframe)) {
                grid-column: span 2;
            }
        }

        .monaco-editor {
            text-align: left;
        }

        >iframe {
            height: 100%;
            width: 100%;
            transform: scale(1.0000001); // TODO: Weird bug. Probably because of the scaling, reveal.js does
            max-width: none;
            max-height: none;
            background-color: #fff;
            box-sizing: content-box;
        }

        .monaco-editor,
        iframe {
            border: 1px solid gray;
        }

        >div.custom-content {
            overflow: auto;
        }

        >div.spoiler-element {
            &:not(:has(+ *[data-code-exercise-custom-content])) {
                grid-column: span 2;
            }

            height: 100%;
            display: grid;
            grid-template-rows: auto 1fr;
            grid-template-columns: 1fr;
            justify-content: start;
            align-content: start;
            overflow: hidden;

            * {
                font-size: initial;
            }

            >p {
                text-align: left;
                overflow-y: auto;
                overflow-x: hidden;

                ul,
                ol {
                    list-style: none;
                    flex-grow: 1;
                    margin-left: 0;
                    padding-left: 0;

                    li {
                        &:not(:last-child) {
                            margin-bottom: 0.2rem;
                        }

                        p {
                            margin: 0.25rem 0 0.5rem 1rem;
                        }
                    }
                }
            }

        }
    }

    .sr-only {
        height: 1px !important;
        width: 1px !important;
        border: 0 !important;
        margin: -1px !important;
        overflow: hidden !important;
        padding: 0 !important;
        white-space: nowrap !important;
    }
}